{% extends 'base.html.twig' %}

{% block title %}Rental index{% endblock %}

{% block body %}
    <h1>Rental index</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de départ</th>
                <th>Date de retour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rental in rentals %}
            <tr>
                {# <td>{{ rental.id }}</td> #}
                <td>{{ app.user.lastName }}</td>
                <td>{{ app.user.firstName }}</td>
                <td>{{ rental.pickUpDate ? rental.pickUpDate|date('d-m-Y') : '' }}</td>
                <td>{{ rental.dropOffDate ? rental.dropOffDate|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('rental_show', {'id': rental.id}) }}">Afficher/Supprimer</a>
                    <a href="{{ path('rental_edit', {'id': rental.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rental_new') }}">Effectuer une nouvelle réservation</a>
{% endblock %}
