{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1>Car index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RegistrationNumber</th>
                <th>PricePerDay</th>
                <th>Avaibality</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.registrationNumber }}</td>
                <td>{{ car.pricePerDay }}</td>
                <td>{{ car.avaibality ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('car_show', {'id': car.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
