{% extends 'base.html.twig' %}

{% block title %}Car
{% endblock %}

{% block body %}
		{% if app.user %}
		<h1 class="m-5">{{ app.user.firstname }}, tu as plus de détails pour la {{ car.makes }} que tu souhaites voir</h1>
           {% else %}
	<h1 class="m-5">Voici plus de détails pour la {{ car.makes }} {{ car.seats }} sièges que vous souhaitiez voir</h1>
		{% endif %}
	<div class="container mb-5">
		<div class="row">
			<div class="col">
				<img src="{{asset('assets/img/' ~ car.image )}}" class="img-thumbnail" alt="...">
			</div>
			<div class="col">
				<table class="table">
					<tbody>
						<tr>
							<th>Marque</th>
							<td>{{ car.makes }}</td>
						</tr>
						<tr>
							<th>RegistrationNumber</th>
							<td>{{ car.registrationNumber }}</td>
						</tr>
						<tr>
							<th>Prix à la journée</th>
							<td>{{ car.pricePerDay }}</td>
						</tr>
						<tr>
							<th>Nombre de sièges</th>
							<td>{{ car.seats }}</td>
						</tr>
						<tr>
							<th>Boîte de vitesse</th>
							<td>{{ car.gears }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<a href="{{ path('car_index') }}">Retour à la liste des voitures</a>

{% endblock %}
